body{
    background-color: #C89772;
    background-image: url(rover.png);
    background-size: 100% auto;
    
}
#buttoncontainer{
    margin: auto;
    width: 500px;
    margin-top: 2.5%;
    background-color: rgba(0, 0, 0, 0.350);
    border-radius: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0);
}
.button{
    width: 250px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}
.button:hover{
    background-color: hsl(0, 0%, 85%);
    cursor: pointer;
}
#title{
    text-align: center;
    font-family: arial;
    margin-bottom: -5px;
}
.position{
    margin-top: 5%;
    text-align: center;
    font-family: arial;
    font-size: larger;
    font-weight: bolder;
}
.historico{
    margin-top: 15px;
    text-align: center;
    font-family: arial;
    font-weight: bold;
}
#enviar{
    width: 100px;
    margin-left: 200px;
    margin-top: 40px;
}
#frente{
    margin-left: 125px;
}
#tras{
    margin-left: 125px;
}

.name{
    color: black;
    font-family: Arial;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1vw;
    margin-left: 5px;
}
#github{
    color: black;
    font-family: Arial;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.25vw;
}
#github:hover{
    color: blue;
}
#map{
    width: 250px;
    margin-left: 125px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.switchcontainer{
    width: 100%;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-left: 220px;
    margin-top: 0;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .1s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-image: url(modeA.png);
    background-size: 100%;
    background-color: white;
    transition: .1s;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-image: url(modeB.png);
    background-size: 100%;
  }
  .mode{
    font-family: arial;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
  }
  .slider {
    border-radius: 5px;
  }
  .slider:before{
    border-radius: 4px;
  }
  .help{
    position: absolute;
    font-family: arial;
    font-weight: bolder;
    font-size: 15px;
    margin-left: 285px;
    margin-top: 7.5px;
    text-align: center;
    width: 15px;
    height: 15px;
    outline: solid 0.5px black;
    border-radius: 10px;
  }